/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */


/*-----------------------font-----------------------*/
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&family=Open+Sans:wght@400;500;600;700&display=swap');

:root {
    --main-text: 'Open Sans', sans-serif;
    --decoration-text: 'Mulish', sans-serif;
    --footer-text: #fff;
    --text: #000;
    --buttons: #383838;
    --footer-background: #131313;
    --border-color: #e9e3e3;
    --header-strip: #EAEAEA;
    --link: #E58861;
    --buttons-mini: #fff;
    --stars: sepia(100%) hue-rotate(5deg) saturate(6);
    --border-style: 1px solid var(--border-color);
    --border-radius: 6px;
    --border-radius-product: 11px;
    --box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.04);
    --sale-price: #FF4D00;
}

body {
    font-family: var(--main-text);
}

#header {
    color: var(--buttons);
}

#header a:hover,
#header .top-menu a[data-depth="0"]:hover,
a:hover,
#header a.dropdown-item:hover {
    color: var(--link);
}

section#wrapper {
    background: #fff;
}

.btn.btn-primary {
    background: var(--buttons);
}

#header .header-nav {
    border-bottom: none;
}

/*-------------------------------home-page---------------------------------*/
/*----------------header---------------*/
#main h2 {
    font-size: 1.5rem;
    margin-top: 16px;
}

#subcategory-block-1 {
    background-color: var(--header-strip);
}

.rabat-newsletter {
    padding: 0.5rem 0;
    text-align: center;
    font-size: 0.875rem;
}

#header a {
    color: var(--text);
    font-weight: 500;
}

#strip-ikons {
    display: flex;
    justify-content: space-evenly;
}

.blok-ikon {
    margin: 1.275rem 0;
    display: flex;
    line-height: 1.2;
}

.blok-ikon img {
    margin-right: 0.5rem;
}

.discription-ikons h4 {
    margin-bottom: 0;
    font-size: 0.825rem;
}

.discription-ikons p {
    margin-bottom: 0;
    font-size: 0.75rem;
}

.header-top-right {
    display: flex;
    justify-content: space-between;
}

#_desktop_cart {
    display: flex;
    align-items: center;
}

#_desktop_cart .header {
    display: flex;
    position: relative;
}

#_desktop_cart .header a .cart-products-count {
    position: absolute;
    right: 0;
    color: var(--footer-text);
    background: var(--link);
    width: 20px;
    height: 20px;
    font-size: 0.75rem;
    border-radius: 50%;
    text-align: center;
    transform: translate(50%, -50%);
}

@media (max-width: 991px) {
    .blok-ikon {
        width: 25%;
    }

    .blok-ikon img {
        max-height: 25px;
    }
}

@media (max-width: 767px) {
    #strip-ikons {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .blok-ikon {
        margin: 0.5rem 0;
        width: 50%;
    }
}

.total-value {
    padding-right: 1.125rem;
    font-size: 1.25rem;
    font-weight: 700;
}

.breadcrumb {
    margin-top: 28px;
    margin-bottom: 44px;
}

/*-------------------------Slider-------------------------*/
/*---------------start slider button
.main-button-slider {
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    height: 60px;
    width: 210px;
    opacity: 1;
    background-color: #ffffff;
    border: 1px solid var(--buttons);
}

.main-button-slider span {
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.7px;
}-----*/

.main-button-slider:hover {
    animation: rotate 0.7s ease-in-out both;
}

.main-button-slider:hover span {
    animation: storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }

    25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
    }

    50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
    }

    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }

    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

@keyframes storm {
    0% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }

    25% {
        transform: translate3d(4px, 0, 0) translateZ(0);
    }

    50% {
        transform: translate3d(-3px, 0, 0) translateZ(0);
    }

    75% {
        transform: translate3d(2px, 0, 0) translateZ(0);
    }

    100% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
}

/*-------------------end slider button-----------------------*/

main #wrapper {
    padding: 0;
}

#carousel .direction {
    display: none;
}


#carousel figure img {
    height: 516px;
    /* height: 100vh; */
    width: auto;
}

.carousel .carousel-item img {
    max-width: none;
}

.carousel .carousel-item figure {
    position: relative;
    width: -webkit-fill-available;
}

.carousel .carousel-inner {
    height: fit-content;
    margin-bottom: 0;
}

.carousel .carousel-item .caption {
    position: initial;
    color: var(--text);
    font-style: var(--decoration-text);
    /* left: 25%;
    top: 15%;
    transform: translate(-25%, -15%); */
}

/* .carousel .carousel-item .caption {
    top: 55%;
    transform: translate(-50%, -50%);
} */

#slider-text-photo {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-45%, -10%);
    display: flex;
    flex-wrap: wrap;
    width: 60rem;
    justify-content: space-between;
    align-items: center;
}

.custom-text-slider {
    width: 30rem;
}

#slider-text-photo h3 {
    margin-bottom: 1.125rem;
    font-size: 1.175rem;
    font-weight: 400;
}

#slider-text-photo h2 {
    padding-bottom: 1rem;
    font-size: 2rem;
    color: var(--buttons);
    font-weight: 700;
    text-transform: uppercase;
}

#slider-text-photo .custom-text-slider p {
    margin-bottom: 1.625rem;
    font-size: 1.125rem;
    line-height: 177.5%;
    color: var(--buttons);
}

a.main-button-slider {
    display: inline-block;
    padding: 0.8rem 3.85rem 0.9rem;
    font-size: 1.375rem;
    background: var(--buttons);
    color: #fff;
    border-radius: 9px;
    transition-duration: 0.4s;
    text-decoration: none;
    border: 1px solid var(--buttons);
}

/* a.main-button-slider:hover {
    color: var(--buttons);
    transition-duration: 0.4s;
    background-color: #fff;
    border: 1px solid var(--buttons);
} */

#carousel .direction {
    display: none;
}

#carousel figure figcaption img {
    height: auto;
}

@media (min-width: 1921px) {
    #carousel figure img.carousel-img {
        height: auto;
        width: 100vw;
    }

    #slider-text-photo {
        transform: translate(-45%, 0%);
    }
}

@media (max-width: 992px) {
    #slider-text-photo {
        width: 50rem;
    }

    .carousel .carousel-item .caption {
        margin: 0;
    }

    .carousel .carousel-item figure {
        margin: -10px;
    }

    .carousel {
        padding: 0;
    }
}

@media (max-width: 767px) {
    #slider-text-photo {
        width: 40rem;
    }

    #carousel figure figcaption img {
        max-height: 200px;
    }

    #slider-text-photo h3 {
        margin-bottom: 1rem;
        font-size: 1rem;
        font-weight: 400;
    }

    #slider-text-photo h2 {
        padding-bottom: 1rem;
        font-size: 1.5rem;
        font-weight: 700;
    }

    #slider-text-photo .custom-text-slider p {
        margin-bottom: 1rem;
        font-size: 1rem;
    }

    a.main-button-slider {
        padding: 0.5rem 2.85rem 0.5rem;
        font-size: 1rem;
    }

    #carousel figure img {
        height: auto;
    }
}

/*----------------------products main-page----------------------*/
.ph_pcms_desktop_3.layout-grid ul li {
    width: 0;
}

.ph_pcms_block_product_list {
    margin-left: 0;
    margin-right: 0;
}

/*--- sale ---*/
.content-anywhere-displayhomehotdeals h2 {
    padding-left: 15px;
}

.content-anywhere-displayhomehotdeals .col-12.col-lg-7 {
    padding-left: 0;
}

.hot-sale {
    padding-right: 7px;
}

.hot-sale .btn.btn-primary.add-to-cart {
    padding: 0.45rem 0;
}

#ets_hotdeals .product-infomation-content .product-description,
#ets_hotdeals .product-infomation-content {
    box-shadow: none;
}

#ets_hotdeals .ets-product-specific .product-description {
    padding: 0;
    height: 100%;
}

.ybc_countdown {
    margin-top: 16px;
    border: var(--border-style);
    border-radius: var(--border-radius);
}

#ets_hotdeals {
    margin: 0;
}

#ets_hotdeals .product-miniature .thumbnail-container {
    margin: 0;
    border-radius: var(--border-radius);
}

.product-img-content {
    display: flex;
    box-shadow: var(--box-shadow);
}

#ets_hotdeals .product-img-content {
    padding-bottom: 7px;
    border-bottom: var(--border-style);
}

#ets_hotdeals h3.h1 {
    margin-top: .875rem;
    text-transform: none;
    text-align: center;
}

#ets_hotdeals .ets_hotdeal_grid_items .product-miniature.js-product-miniature {
    margin: 0 1.25rem;
}

#ets_hotdeals .product-miniature .product-price-and-shipping {
    margin: 0;
}

#ets_hotdeals .product-miniature .regular-price {
    padding-left: 8px;
    font-size: 1.25rem;
    color: #ababab;
}

#ets_hotdeals article {
    width: 100%;
}

.ets_hotdeal_grid_items .product-miniature.js-product-miniature {
    margin: 0;
}

#ets_hotdeals .product-miniature .product-title,
#ets_hotdeals .ets-product-specific .product-description .short_description p {
    margin-top: 0;
    text-align: left;
}

#ets_hotdeals .product-miniature .thumbnail-container .product-thumbnail {
    width: 300px;
}

#ets_hotdeals .thumbnail.product-thumbnail>img {
    margin: 0;
    margin-left: -40px;
}

/* #index .js-product.product {
    border: var(--border-style);
    width: 20%;
    border-radius: 6px;
} */

/* #index .js-product.product .thumbnail-container.reviews-loaded {
    border-radius: 6px;
} */

#ets_hotdeals #add-to-cart-or-refresh {
    padding: 4px 0;
}

#ets_hotdeals .short_description {
    display: none;
}

#ets_hotdeals .product-description {
    border-bottom: none;
}

.time-count h3 {
    font-weight: 400;
    font-size: 0.75rem;
    text-align: left;
    color: #C2C2C2;
}

.ets_clock.active {
    max-width: 188px;
    justify-content: space-between;
}

.separator {
    padding-top: 10px;
}

.ybc_cd_item_column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ybc_cd_item {
    width: 44px;
    color: #645E5E;
    font-size: 1.25rem;
    font-weight: 700;
    padding: 10px;
    border: var(--border-style);
    border-radius: var(--border-radius);
}

.ybc_cd_item_text {
    padding-top: 6px;
    font-size: 0.85rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--buttons);
}

/* .time-count #ets_clock_1 span.ybc_cd_item span.numder {
    text-transform: uppercase;
} */
.product-title-attribute {
    display: none;
}

#ets_hotdeals h3.h1.products-section-title {
    font-weight: 600;
}

#ets_hotdeals h3.h3.product-title a {
    font-size: 1.25rem;
    font-weight: 500;
}

#ets_hotdeals h3.h3.product-title {
    margin-bottom: 20px;
}

#ets_hotdeals .price {
    font-size: 1.5rem;
    color: var(--sale-price);
}

.ybc_cd_item .number {
    text-transform: uppercase;
}

@media (max-width: 1199px) and (min-width: 768px) {

    .ph_pcms_tablet_3>div[itemprop="itemListElement"],
    .ph_pcms_tablet_3>div.product,
    .ph_pcms_tablet_3>.product-miniature {
        width: 32% !important;
    }

    .sale.home-category .product-miniature .product-description {
        padding-bottom: 1.175rem;
    }
}

@media (max-width: 1199px) {
    #ets_hotdeals .product-img-content {
        padding-bottom: 0;
    }

    #ets_hotdeals .products-section-title {
        margin-bottom: 0.85rem;
    }
}

@media (min-width: 992px) {
    #index .content-anywhere-displayhome .col-lg-6 {
        width: 100%;
    }


}

@media (max-width: 992px) {
    .content-anywhere-displayhomehotdeals .col-12.col-lg-7 {
        padding-left: 15px;
    }
}

@media (max-width: 767px) {
    .featured-products .products {
        flex-wrap: nowrap;
    }

    #index .sale .js-product.product {
        width: 32% !important;
    }
}

@media (max-width: 460px) {}

.index.roduct_list.grid.products.ph_pcms_product_list_wrapper.layout-grid.ph_pcms_desktop_3.ph_pcms_tablet_3.ph_pcms_mobile_1 {
    margin: 0 5px;
}

#index .featured-products .products {
    /* justify-content: space-between; */
}

.ph_pcms_block_product_list {
    margin-left: 0;
}

.ph_pcms_block_product_list {
    margin-top: 0;
}

#index .sale {
    /* display: flex; */
}

#index .obnizka {
    display: flex;
}

#index .sale .sale_img {
    width: 40%;
}

#index .sale .js-product.product {
    width: 33.333%;
}

#index .obnizka .obnizka_img {
    margin-right: 5px;
    height: 365px;
}

@media (max-width: 1199px) {
    #index .obnizka .obnizka_img {
        height: 382px;
    }
}

@media (max-width: 991px) {
    #index .obnizka .obnizka_img {
        height: 314px;
    }
}

@media (max-width: 767px) {
    #index .obnizka .obnizka_img {
        height: auto;
        width: 180px;
    }

    #index .obnizka.home-category .js-product.product:nth-child(3) {
        display: none;
    }

    .ph_pcms_mobile_1>div[itemprop="itemListElement"],
    .ph_pcms_mobile_1>div.product,
    .ph_pcms_mobile_1>.product-miniature {
        width: 50% !important;
    }
}

@media (max-width: 460px) {}

#index .obnizka .js-product.product {
    width: 25%;
}

#index .home-category {
    margin-top: 12px;
}

#index .home-category.five .js-product.product {
    width: 20%;
}

#index .baner {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
}


#index .baner_first.col-xs-12.col-lg-6 {
    padding-left: 0;
    padding-right: 10px;
}

#index .baner_second.col-xs-12.col-lg-6 {
    padding-left: 10px;
    padding-right: 0;
}

@media (min-width: 1200px) {}

/*--------------------miniature product-----------------*/
.h3.product-title a {
    color: var(--text);
}

.h3.product-title {
    height: 40px;
}

.product-miniature.js-product-miniature .product-flag.out_of_stock {
    display: none;
}

.thumbnail-container.reviews-loaded .product-description {
    border-bottom: var(--border-style);
    box-shadow: var(--box-shadow);
}

.product-actions .control-label,
.control-label {
    display: none;
}

.product-discounts {
    margin-bottom: 0;
}

.product-quantity .add {
    margin-bottom: 0;
}

.product-quantity {
    justify-content: center;
}

#add-to-cart-miniature .to-cart .add .btn.btn-primary.add-to-cart {
    background: var(--buttons-mini);
    color: var(--text);
    text-transform: none;
    font-weight: 500;
    width: 100%;
}

.to-cart {
    width: 100%;
}

.add {
    text-align: center;
    width: 100%;
}

#add-to-cart-miniature .qty,
#add-to-cart-miniature #product-availability {
    display: none;
}

.js-product.product .product-miniature .thumbnail-container {
    margin-bottom: 0;
}

button.wishlist-button-add {
    display: none;
}

.star-on {
    filter: var(--stars);
}

.product-flags {
    flex-direction: row;
}

element.style {
    visibility: visible;
}

.product-miniature .product-flags li.product-flag {
    font-size: 0.625rem;
}

.product-miniature .product-price-and-shipping {
    margin: 10px 0 0 10px;
    text-align: start;
}

.product-list-reviews {
    position: static;
    justify-content: flex-start;
}

@media (max-width: 1199px) {
    #index .obnizka.home-category .js-product.product:nth-child(4) {
        display: none;
    }
}

@media (max-width: 991px) {
    #index .home-category.five .js-product.product:nth-child(5) {
        display: none;
    }

    #index .home-category.five .js-product.product {
        width: 24%;
    }
}

@media (max-width: 767px) {
    #index .home-category.five .js-product.product:nth-child(4) {
        display: none;
    }

    #index .home-category.five .js-product.product {
        width: 31.33% !important;
    }
}

@media (max-width: 460px) {
    #index .home-category.five .js-product.product {
        width: 100% !important;
    }

    .baner {
        flex-direction: column;
    }

    .baner img:first-child {
        margin-bottom: 5px;
    }

    .js-product.product {
        margin-bottom: 5px;
    }
}

/*---------------------baner instagram--------------------------*/
.carousel-inner>.carousel-item>a>img,
.carousel-inner>.carousel-item>img,
.img-fluid,
.img-thumbnail {
    width: 100%;
}

/*-----------------------------footer---------------------------*/
#footer,
#blockEmailSubscription_displayFooterBefore {
    background: var(--footer-background);
}

#blok-pay-opinions {
    display: flex;
    justify-content: space-around;
    padding-bottom: 26px;
}

#blok-pay-opinions p {
    color: var(--footer-text);
    justify-content: space-around;
}

/*----------------------footer newsletter------------------------*/
.block_newsletter {
    border: 1px solid white;
    padding: 2.5rem 1.625rem 1rem;
}

.block_newsletter input.btn.btn-primary {
    border-radius: 5px;
}

/* .block_newsletter form .row .col-xs-12:first-of-type .btn-primary:first-of-type {
margin-left: 0;
} */

.block_newsletter form .input-wrapper {
    overflow: hidden;
    border-radius: 5px;
}

/* .block_newsletter form {
position: relative;
} */

.block_newsletter .subscribe {
    position: absolute;
    top: 0;
    right: 14px;
}

.zegarek_text {
    display: flex;
    flex-direction: column;
}

#footer .block_newsletter #block-newsletter-label,
.customization-modal .modal-content .modal-body {
    color: var(--footer-text);
}

#block-newsletter-label {
    margin-top: 10px;
    margin-bottom: 0;
}

#footer .block_newsletter p,
.footer-container li a {
    color: var(--footer-text);
}

.footer-container .h3,
.footer-container .h4,
#subcategory-block-4 p {
    color: var(--footer-text);
    text-transform: none;
    font-size: 1.125rem;
}

@media (max-width: 1199px) {
    #block-newsletter-label {
        margin-top: 0;
    }
}

@media (max-width: 991px) {
    .zegarek img.col-md-1 {
        padding: 0;
    }


}

@media (max-width: 768px) {
    .zegarek {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }

    .tak {
        display: none;
    }

    .hidden-xs-down.sign-up {
        display: initial !important;
    }
}

@media (max-width: 530px) {
    .zegarek {
        padding-left: 15px;
    }
}

/*------------------------------footer ikons----------------------------*/
.zakupy {
    margin-bottom: 16px;
    color: var(--footer-text);
}

.zakupy_ikons {
    display: flex;
}

.zakupy_ikons img {
    margin-right: 10px;
}

.zakupy_ikons p {
    color: var(--footer-text);
}

/*----------------------------footer after------------------------------*/
#footer .row:nth-child(2) {
    display: flex;
}

#footer .row:nth-child(2) {
    margin-top: 2rem;
}

#footer .contact {
    margin-bottom: 1.25rem;
}

#subcategory-block-4 h3,
#subcategory-block-7 h3,
#subcategory-block-8 h3 {
    color: var(--footer-text);
}

#subcategory-block-4 {
    width: 50%;
    padding-left: 15px;
}

#subcategory-block-4 p {
    margin-bottom: 5px;
    font-size: .875rem;
    line-height: 158.023%;
    letter-spacing: 0.49px;
}

#subcategory-block-4 p.h3 {
    margin-bottom: 16px;
}

#subcategory-block-4 .contact_text {
    margin-bottom: 20px;
}

#subcategory-block-4 div p:nth-child(2) {
    font-weight: 700;
}

#subcategory-block-7 {
    width: 25%;
}

#subcategory-block-7 .social {
    margin-top: 1.25rem;
}

#subcategory-block-8 {
    width: 25%;
}

#subcategory-block-8 .logistyka h3 {
    margin-bottom: 1.25rem;
}

#block_myaccount_infos {
    display: none
}

.product-list-reviews {
    position: static;
}

@media (max-width: 768px) {
    #contentanywhere-block-9 {
        padding: 10px;
    }

    #footer .row:nth-child(2) {
        margin-top: 1rem;
    }

    #footer .row:nth-child(2) {
        position: relative;
    }

    #subcategory-block-7 {
        position: absolute;
        margin-top: -205px;
        right: 10px;
    }

    #subcategory-block-8 {
        width: 25%;
        margin: 0 15px 0 auto;
    }
}

@media (max-width: 525px) {
    .social img {
        width: 30px;
    }
}

@media (max-width: 446px) {
    #footer #subcategory-block-4 .row:nth-child(2) {
        flex-direction: column;
    }
}

@media (max-width: 393px) {
    #subcategory-block-7 .social {
        margin-top: -5px;
        display: grid;
        justify-content: end;
    }
}

/*------------------copyright-------------------*/
#footer a.copyright {
    color: var(--footer-text);
}

#footer hr {
    background: var(--footer-text);
    opacity: .2;
}

#footer .сopyright p.text-sm-left {
    padding-top: 10px;
    display: table-cell;
    vertical-align: middle;
}


/***--------------------------page produkt---------------------------***/

h1.h1 {
    text-transform: none;
    font-size: 2rem;
    font-weight: 700;
}

.one-product .product-flags {
    position: static;
}

.one-product .additional-links,
.one-product .comments-note span {
    display: none;
}

.one-product .star-content {
    margin: 0;
}

.current-price-value {
    font-size: 2rem;
    font-weight: 700;
    color: var(--text);
}

.one-product .product-description {
    /* display: none; */
}

select.form-control:not([size]):not([multiple]) {
    height: 44px;
    border-radius: var(--border-radius);
}

select.form-control.form-control-select {
    width: 318px;
}

select.form-control.form-control-select option:active {
    background: var(--link);
}

.form-control:focus {
    outline: 2px solid var(--header-strip);
    border-color: var(--link);
}

#product-page-cart .to-cart .add .btn.btn-primary.add-to-cart {
    padding: 0 44px;
    border-radius: var(--border-radius);
}

#product-page-cart .input-group.bootstrap-touchspin {
    display: flex;
}

#quantity_wanted {
    border-radius: 6px 0 0 6px;
}

#product-availability {
    display: none;
}

.btn.btn-touchspin.js-touchspin.bootstrap-touchspin-up {
    border-radius: 0 6px 0 0;
}

.btn.btn-touchspin.js-touchspin.bootstrap-touchspin-down {
    border-radius: 0 0 6px 0;
}

.input-group-btn-vertical {
    margin-left: -5px;
    z-index: 100;
}

.product-variants.js-product-variants .control-label {
    display: contents;
    color: var(--sale-price);
}

span.control-label {
    font-size: 1.125rem;
    font-weight: 600;
}

select.form-control:not([size]):not([multiple]) {
    margin-top: 20px;
}

.featured-products h2 {
    padding-left: 8px;
    margin-bottom: 30px;
}

.tabs .nav-tabs .nav-link.active,
.tabs .nav-tabs .nav-link:hover {
    border: 0;
    border-bottom: #f6f6f6 2px solid;
}

.tabs .nav-tabs .nav-link {
    color: var(--footer-background);
    text-transform: uppercase;
    font-weight: 400;
}

.tabs .nav-tabs .nav-link.active {
    font-weight: 700;
    color: var(--footer-background);
}

.product-accessories p.h5 {
    font-size: 1.5rem;
    margin-top: 16px;
    padding-left: 8px;
    margin-bottom: 30px;
}

/*---------------------product-miniatura-presta---------------------*/
article.miniature.product-miniature.js-product-miniature {
    border: var(--border-style);
    border-radius: var(--border-radius);
}

.thumbnail-container.reviews-loaded {
    border-radius: var(--border-radius);
    border: var(--border-style);
    border-radius: var(--border-radius);
}

.js-product.product {
    width: 20%;
}

.js-product.product {
    padding-left: 7px;
    padding-right: 7px;
    margin-bottom: 14px;
}

/* .featured-products .js-product.product .h3.product-title {
    height: 40px;
} */

.product-miniature .product-description {
    padding-bottom: 0.3rem;
}

.pagination>div:first-child {
    display: none;
}

.pagination .current a {
    color: var(--link);
}

/*--------------------------category------------------------*/
.navbar-toggler .material-icons.add:hover,
.navbar-toggler .material-icons.remove:hover {
    color: var(--link);
}

.dropdown-menu a[rel=nofollow]:hover {
    background: var(--link);
}