/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */


/*-----------------------font-----------------------*/
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&family=Open+Sans:wght@400;500;600;700&display=swap');

:root {
    --main-text: 'Open Sans', sans-serif;
    --decoration-text: 'Mulish', sans-serif;
    --footer-text: #fff;
    --text: #000;
    --buttons: #383838;
    --footer-background: #131313;
    --border: #e9e3e3;
    --header-strip: #EAEAEA;
    --link: #E58861;
    --buttons-mini: #fff;
    --stars: sepia(100%) hue-rotate(5deg) saturate(6);
}

body {
    font-family: var(--main-text);
}

#header {
    color: var(--buttons);
}

#header a:hover,
#header .top-menu a[data-depth="0"]:hover,
a:hover,
#header a.dropdown-item:hover {
    color: var(--link);
}

section#wrapper {
    background: #fff;
}

.btn.btn-primary {
    background: var(--buttons);
}

/*-------------------------------home-page---------------------------------*/
/*----------------header---------------*/
#subcategory-block-1 {
    background-color: var(--header-strip);
}

.rabat-newsletter {
    padding: 0.5rem 0;
    text-align: center;
    font-size: 0.875rem;
}

#header a {
    color: var(--text);
    font-weight: 500;
}

#strip-ikons {
    display: flex;
    justify-content: space-evenly;
}

.blok-ikon {
    margin: 1.275rem 0;
    display: flex;
    line-height: 1.2;
}

.blok-ikon img {
    margin-right: 0.5rem;
}

.discription-ikons h4 {
    margin-bottom: 0;
    font-size: 0.825rem;
}

.discription-ikons p {
    margin-bottom: 0;
    font-size: 0.75rem;
}

.header-top-right {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 991px) {
    .blok-ikon {
        width: 25%;
    }

    .blok-ikon img {
        max-height: 25px;
    }
}

@media (max-width: 767px) {
    #strip-ikons {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .blok-ikon {
        margin: 0.5rem 0;
        width: 50%;
    }
}

/*-------------------------Slider-------------------------*/
/*---------------start slider button
.main-button-slider {
    position: relative;
    outline: none;
    text-decoration: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    height: 60px;
    width: 210px;
    opacity: 1;
    background-color: #ffffff;
    border: 1px solid var(--buttons);
}

.main-button-slider span {
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.7px;
}-----*/

.main-button-slider:hover {
    animation: rotate 0.7s ease-in-out both;
}

.main-button-slider:hover span {
    animation: storm 0.7s ease-in-out both;
    animation-delay: 0.06s;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }

    25% {
        transform: rotate(3deg) translate3d(0, 0, 0);
    }

    50% {
        transform: rotate(-3deg) translate3d(0, 0, 0);
    }

    75% {
        transform: rotate(1deg) translate3d(0, 0, 0);
    }

    100% {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }
}

@keyframes storm {
    0% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }

    25% {
        transform: translate3d(4px, 0, 0) translateZ(0);
    }

    50% {
        transform: translate3d(-3px, 0, 0) translateZ(0);
    }

    75% {
        transform: translate3d(2px, 0, 0) translateZ(0);
    }

    100% {
        transform: translate3d(0, 0, 0) translateZ(0);
    }
}

/*-------------------end slider button-----------------------*/


main #wrapper {
    padding: 0;
}

#carousel .direction {
    display: none;
}


#carousel figure img {
    height: 516px;
    /* height: 100vh; */
    width: auto;
}

.carousel .carousel-item img {
    max-width: none;
}

.carousel .carousel-item figure {
    position: relative;
    width: -webkit-fill-available;
}

.carousel .carousel-inner {
    height: fit-content;
    margin-bottom: 0;
}

.carousel .carousel-item .caption {
    position: initial;
    color: var(--text);
    font-style: var(--decoration-text);
    /* left: 25%;
    top: 15%;
    transform: translate(-25%, -15%); */
}

/* .carousel .carousel-item .caption {
    top: 55%;
    transform: translate(-50%, -50%);
} */

#slider-text-photo {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -10%);
    display: flex;
    flex-wrap: wrap;
    width: 60rem;
    justify-content: space-between;
    align-items: center;
}

.custom-text-slider {
    width: 30rem;
}

#slider-text-photo h3 {
    margin-bottom: 1.125rem;
    font-size: 1.175rem;
    font-weight: 400;
}

#slider-text-photo h2 {
    padding-bottom: 1rem;
    font-size: 2rem;
    color: var(--buttons);
    font-weight: 700;
    text-transform: uppercase;
}

#slider-text-photo .custom-text-slider p {
    margin-bottom: 1.625rem;
    font-size: 1.125rem;
    line-height: 177.5%;
    color: var(--buttons);
}

a.main-button-slider {
    display: inline-block;
    padding: 0.8rem 3.85rem 0.9rem;
    font-size: 1.375rem;
    background: var(--buttons);
    color: #fff;
    border-radius: 9px;
    transition-duration: 0.4s;
    text-decoration: none;
    border: 1px solid var(--buttons);
}

/* a.main-button-slider:hover {
    color: var(--buttons);
    transition-duration: 0.4s;
    background-color: #fff;
    border: 1px solid var(--buttons);
} */

#carousel .direction {
    display: none;
}

#carousel figure figcaption img {
    height: auto;
}

@media (max-width: 992px) {
    #slider-text-photo {
        width: 50rem;
    }

    .carousel .carousel-item .caption {
        margin: 0;
    }

    .carousel .carousel-item figure {
        margin: -10px;
    }

    .carousel {
        padding: 0;
    }
}

@media (max-width: 767px) {
    #slider-text-photo {
        width: 40rem;
    }

    #carousel figure figcaption img {
        max-height: 200px;
    }

    #slider-text-photo h3 {
        margin-bottom: 1rem;
        font-size: 1rem;
        font-weight: 400;
    }

    #slider-text-photo h2 {
        padding-bottom: 1rem;
        font-size: 1.5rem;
        font-weight: 700;
    }

    #slider-text-photo .custom-text-slider p {
        margin-bottom: 1rem;
        font-size: 1rem;
    }

    a.main-button-slider {
        padding: 0.5rem 2.85rem 0.5rem;
        font-size: 1rem;
    }

    #carousel figure img {
        height: auto;
    }
}

/*----------------------poducts main-page----------------------*/
#index .js-product.product {
    border: 1px solid #D9D9D9;
    width: 20%;
    border-radius: 6px;
}

#index .js-product.product .thumbnail-container.reviews-loaded {
    border-radius: 6px;
}

@media (min-width: 992px) {
    #index .content-anywhere-displayhome .col-lg-6 {
        width: 100%;
    }
}

.index.roduct_list.grid.products.ph_pcms_product_list_wrapper.layout-grid.ph_pcms_desktop_3.ph_pcms_tablet_3.ph_pcms_mobile_1 {
    margin: 0 5px;
}

#index .featured-products .products {
    justify-content: space-between;
}

.ph_pcms_block_product_list {
    margin-left: 0;
}

.ph_pcms_block_product_list {
    margin-top: 0;
}

#index .sale,
#index .obnizka {
    display: flex;

}

#index .sale .sale_img {
    width: 40%;
}

#index .sale .js-product.product {
    width: 32%;
}

#index .obnizka .obnizka_img {
    margin-right: 5px;
    height: 377px;
}

#index .obnizka .js-product.product {
    width: 24%;
}

#index .home-category {
    margin: 12px 0;
}

#index .home-category.five .js-product.product {
    width: 19%;
}

#index .baner {
    display: flex;
    justify-content: space-between;
}

/* #index .baner img {
width: 49%;
} */

/*--------------------miniature product-----------------*/
h3.h3.product-title a {
    color: var(--text);

}

h3.h3.product-title {
    height: 40px;
}

.product-description {
    border-bottom: 1px solid var(--border);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.04);
}

.add .btn.btn-primary.add-to-cart {
    background: var(--buttons-mini);
    color: var(--text);
    text-transform: none;
    font-weight: 500;
    width: 100%;
}

.add {
    text-align: center;
}

.js-product.product .product-miniature .thumbnail-container {
    margin-bottom: 0;
}

button.wishlist-button-add {
    display: none;
}

.star-on {
    filter: var(--stars);
}

.product-flags {
    flex-direction: row;
}

element.style {
    visibility: visible;
}

.product-miniature .product-flags li.product-flag {
    font-size: 0.625rem;
}

.product-miniature .product-price-and-shipping {
    margin: 0 0 0 10px;
    text-align: start;
}

.product-list-reviews {
    position: static;
    justify-content: flex-start;
}

@media (max-width: 991px) {
    #index .home-category.five .js-product.product:nth-child(5) {
        display: none;
    }

    #index .home-category.five .js-product.product {
        width: 24%;
    }
}

@media (max-width: 767px) {
    #index .home-category.five .js-product.product:nth-child(4) {
        display: none;
    }

    #index .home-category.five .js-product.product {
        width: 31.33% !important;
    }
}

@media (max-width: 460px) {
    #index .home-category.five .js-product.product {
        width: 100% !important;
    }

    .baner {
        flex-direction: column;
    }

    .baner img:first-child {
        margin-bottom: 5px;
    }

    .js-product.product {
        margin-bottom: 5px;
    }
}


/*-----------------------------footer---------------------------*/
#footer,
#blockEmailSubscription_displayFooterBefore {
    background: var(--footer-background);
}

#blok-pay-opinions {
    display: flex;
    justify-content: space-around;
    padding-bottom: 26px;
}

#blok-pay-opinions p {
    color: var(--footer-text);
    justify-content: space-around;
}

/*----------------------footer newsletter------------------------*/
.block_newsletter {
    border: 1px solid white;
    padding: 2.5rem 1.625rem 1rem;
}

.block_newsletter input.btn.btn-primary {
    border-radius: 5px;
}

/* .block_newsletter form .row .col-xs-12:first-of-type .btn-primary:first-of-type {
margin-left: 0;
} */

.block_newsletter form .input-wrapper {
    overflow: hidden;
    border-radius: 5px;
}

/* .block_newsletter form {
position: relative;
} */

.block_newsletter .subscribe {
    position: absolute;
    top: 0;
    right: 14px;
}

.zegarek_text {
    display: flex;
    flex-direction: column;
}

#footer .block_newsletter #block-newsletter-label,
.customization-modal .modal-content .modal-body {
    color: var(--footer-text);
}

#block-newsletter-label {
    margin-top: 10px;
    margin-bottom: 0;
}

#footer .block_newsletter p,
.footer-container li a {
    color: var(--footer-text);
}

.footer-container .h3,
.footer-container .h4,
#subcategory-block-4 p {
    color: var(--footer-text);
    text-transform: none;
    font-size: 1.125rem;
}

@media (max-width: 1199px) {
    #block-newsletter-label {
        margin-top: 0;
    }
}

@media (max-width: 991px) {
    .zegarek img.col-md-1 {
        padding: 0;
    }


}

@media (max-width: 768px) {
    .zegarek {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }

    .tak {
        display: none;
    }

    .hidden-xs-down.sign-up {
        display: initial !important;
    }
}

@media (max-width: 530px) {
    .zegarek {
        padding-left: 15px;
    }
}

/*------------------------------footer ikons----------------------------*/
.zakupy {
    margin-bottom: 16px;
    color: var(--footer-text);
}

.zakupy_ikons {
    display: flex;
}

.zakupy_ikons img {
    margin-right: 10px;
}

.zakupy_ikons p {
    color: var(--footer-text);
}

/*----------------------------footer after------------------------------*/
#footer .row:nth-child(2) {
    display: flex;
}

#footer .row:nth-child(2) {
    margin-top: 2rem;
}

#footer .contact {
    margin-bottom: 1.25rem;
}

#subcategory-block-4 h3,
#subcategory-block-7 h3,
#subcategory-block-8 h3 {
    color: var(--footer-text);
}

#subcategory-block-4 {
    width: 50%;
    padding-left: 15px;
}

#subcategory-block-4 p {
    margin-bottom: 5px;
    font-size: .875rem;
    line-height: 158.023%;
    letter-spacing: 0.49px;
}

#subcategory-block-4 p.h3 {
    margin-bottom: 16px;
}

#subcategory-block-4 .contact_text {
    margin-bottom: 20px;
}

#subcategory-block-4 div p:nth-child(2) {
    font-weight: 700;
}

#subcategory-block-7 {
    width: 25%;
}

#subcategory-block-7 .social {
    margin-top: 1.25rem;
}

#subcategory-block-8 {
    width: 25%;
}

#subcategory-block-8 .logistyka h3 {
    margin-bottom: 1.25rem;
}

#block_myaccount_infos {
    display: none
}

.product-list-reviews {
    position: static;
}

@media (max-width: 768px) {
    #contentanywhere-block-9 {
        padding: 10px;
    }

    #footer .row:nth-child(2) {
        margin-top: 1rem;
    }

    #footer .row:nth-child(2) {
        position: relative;
    }

    #subcategory-block-7 {
        position: absolute;
        margin-top: -205px;
        right: 10px;
    }

    #subcategory-block-8 {
        width: 25%;
        margin: 0 15px 0 auto;
    }
}

@media (max-width: 525px) {
    .social img {
        width: 30px;
    }
}

@media (max-width: 446px) {
    #footer #subcategory-block-4 .row:nth-child(2) {
        flex-direction: column;
    }
}

@media (max-width: 393px) {
    #subcategory-block-7 .social {
        margin-top: -5px;
        display: grid;
        justify-content: end;
    }
}

/*------------------copyright-------------------*/
#footer a.copyright {
    color: var(--footer-text);
}

#footer hr {
    background: var(--footer-text);
    opacity: .2;
}

#footer .—Åopyright p.text-sm-left {
    padding-top: 10px;
    display: table-cell;
    vertical-align: middle;
}